{%include 'header.html'%}
</head>
<link rel="stylesheet" href="{{url_for('static', filename='css/checkout.css')}}">
<body>
    <div class="header_section header_bg">
        {%include 'nav.html'%}
    </div>
        <main>
            <section id="order-summary">
              <h2>Order Summary</h2>
              <table>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
                <!-- Add rows dynamically here using JavaScript or server-side rendering -->
                {%for item in cart_items:%}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>${{item.price}}</td>
                </tr>
                
                {%endfor%}
              </table>
              <p class="total">Total: ${{total}}</p>
              <a href="#" class="edit-link">Edit Order</a>
            </section>
        
        
            <section id="payment">
              <h2>Payment Method</h2>
              <!-- Add form fields for payment details here -->
                <div class="read_bt"><a href="{{url_for('payment')}}">Esewa</a></div>
                <span>{{Esewadone}}</span>
                <div class="read_bt"><a href="{{url_for('cashPayment')}}">Chash On delivery</a></div>
                <span>{{cashPayment}}</span>
            </section>
        
        
            <section id="order-review">
              <h2>Order Review</h2>
              <!-- Display final order details for customer confirmation -->
              {%for item in cart_items:%}
                <span>{{item.name}} |</span>
              {%endfor%} 
            </section>
          <form action="/paymentStatus" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="esewaPayment" value="{{Esewadone}}">
            <input type="hidden" name="cashPayment" value="{{cashPayment}}">
            <button type="submit" class="btn btn-outline-danger" id="place-order">Place Order</button>
          </form>
            
          </main>
        
{%include 'footer.html'%}

