{%include 'header.html'%}
<link rel="stylesheet" href="{{url_for('static', filename='css/shop.css')}}">
{%include 'nav.html'%}

<main>
    <section class="sidebar">
      <h2>Categories</h2>
      <ul class="category-list">
        <li><a href="{{url_for('shop', category='organic')}}">Organic</a></li>
        <li><a href="{{url_for('shop', category='inorganic')}}">Inorganic</a></li>
        <li><a href="{{url_for('shop', category='manufactored')}}">Manufactured</a></li>
      </ul>
    </section>
    <section class="product-list">
      {%for dat in data: %}
          <div class="product">
            <img src="{{url_for('static', filename='images/banner-img.png')}}" alt="Product 1">
            <h3>{{dat.name}}</h3>
            <p>Price: ${{dat.price}}</p>
            <!-- <button>Add to Cart</button> -->
            <form action="{{url_for('add_to_cart')}}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <input type="hidden" name="product_name" value={{dat.name}}>
              <input type="hidden" name="product_id" value={{dat.id}}>
              <input type="hidden" name="product_price" value={{dat.price}}>
              <button type="submit">Add to Cart</button>
            </form>
           
          </div>
      {%endfor%}
      <!-- Add more product items here -->
    </section>
  </main>



{%include 'footer.html' %}